
<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
        <ion-buttons start>
            <button (click)="refresh()">Refresh</button>
        </ion-buttons>
        <ion-buttons end>
            <button (click)="add_liquor()">Add Liquor</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <span *ngFor="let list of liquor">
        <ion-list-header>
            {{list.name}}
        </ion-list-header> 
        <ion-item *ngFor="let item of list.items">{{item}}</ion-item>
        </span>
    </ion-list>
</ion-content>
